apiVersion: apps/v1
kind: Deployment
metadata:
  name: prom-dpm
  namespace: grupo4
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prom-config
              mountPath: /etc/prometheus/
      volumes:
        - name: prom-config
          configMap:
            name: prom-config
---
apiVersion: v1
kind: Service
metadata:
  name: prom-svc
  namespace: grupo4
spec:
  selector:
    app: prometheus
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 9090
  type: LoadBalancer

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prom-config
  namespace: grupo4
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'aks-kubelet'
        scheme: https
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        static_configs:
          - targets: ['aks-agentpool-34936449-vmss000000:10250']
        metrics_path: '/metrics/cadvisor'
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

      - job_name: 'py-prom'
        metrics_path: /metrics
        static_configs:
          - targets: ['py-prom-svc.grupo4.svc.cluster.local:80']
