Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-RESTful==0.3.10
pytest==7.3.2
flake8==6.0.0
Flask-WTF==1.1.1
SQLAlchemy==2.0.39
aniso8601==10.0.0
greenlet==3.1.1
pytz==2025.2
Werkzeug==3.1.3
Jinja2==3.1.6
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.1.8
six==1.17.0
typing_extensions==4.13.0
docker==6.0.1
azure-cli-core==2.42.0
Flask-Login==0.6.2
azure-webapp==2.0.1
requests